@import '../../assets/scss/color';
@import '../../assets/scss/mixins';
@import '../../assets/scss/text';

.footerWrapper {
  background-image: url("~/public/images/footer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 50px 0;

  .footerContainerWrapper, .footerContainerCopyWrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-right: 0;

    .left {
      width: 70%;
      position: relative;

      @include breakpoint(mobile) {
        width: 100%;
      }
    }

    .right {
      width: 30%;

      @include breakpoint(mobile) {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .footerContainerCopy {
      position: absolute;
      bottom: 0;

      @include breakpoint(mobile) {
        position: unset;
        display: none;
      }
    }

    .defaultTitleText {
      color: get-color('white');
    }

    .footerLinkList {
      display: flex;
      flex-flow: column;
      align-items: flex-start;

      a {
        color: get-color('gray');
        text-decoration: none;
        border-bottom: none;
      }
    }

    .blackButtonActive {
      a {
        left: 0;
        padding: 5px 15px;

        @include breakpoint(mobile) {
          margin-bottom: 20px;
        }
      }
    }
  }

  .footerContainerCopyWrapper {
    margin-top: 20px;

    @include breakpoint(mobile) {
      margin-top: 0;
    }
  }

  .footerSocial {
    @include breakpoint(mobile) {
      margin-top: 10px;
    }

    img {
      width: 20px;
      height: 20px;
    }

    a {
      margin-right: 20px;
    }
  }

  .footerTerms {
    margin-top: 20px;

     a {
       color: get-color('white');
       text-decoration: none;
       border-bottom: none;
     }
  }
}

.footerMobileCopy {
  display: none;

  @include breakpoint(mobile) {
    display: block;
  }

  span {
    color: get-color('white') !important;
  }
}