@import '../../assets/scss/color';
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.navigation {
  width: 100%;
  height: ($navigation-height) + px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: get-color('white');
  box-shadow: -3px 0px 9px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  z-index: 100;
  transition: background-color .1s ease-out;
}

.navigationSticky {
  transition: background-color .1s ease-in;
  background-color: get-color('white');

  .itemsWrapper {
    color: get-color('black')
  }

  .menuItemActive {
    text-shadow: 0 4px 6px get-color('gray-dark');
  }
}

.navBarWrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 25% 75%;

  @include breakpoint(mobile) {
    grid-template-columns: 50% 50%;
  }
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0;
  > *:not(:last-child) {
    margin-right: 15px;
  }
  @include breakpoint(tablet) {
    padding-right: 10px;
  }

  @include breakpoint(desktop) {
    padding-right: 50px;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  padding-right: 10px;
  @include breakpoint(mobile) {
    max-width: 140px;
  }

  a {
    text-decoration: none;
    color: get-color('black');

    span {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 39px;
      text-transform: uppercase;
      text-decoration: none;
      text-shadow: 0 4px 6px get-color('gray');
    }
  }
}

.itemsWrapper {
  display: flex;
  align-items: center;
  color: get-color('white');
  font-weight: 700;
  font-size: 12px;
  justify-content: flex-end;

  a {
    text-decoration: none;
    color: get-color('black');
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-shadow: 0 4px 6px get-color('gray');
    white-space: nowrap;
  }

  @include breakpoint(mobile) {
    display: none;
  }
}
.menuItem {
  padding: 5px 0;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &:hover {
    text-shadow: 0 4px 6px get-color('gray-dark');
  }
}

.menuItemActive {
  font-weight: 500;
  border-bottom: 3px solid get-color('white');
}

.mobileMenuActivator {
  display: none !important;

  @include breakpoint(mobile) {
    display: flex !important;

    .signUp {
      margin-right: 20px;

      a {
        text-decoration: none;
        color: get-color('black');
      }
    }
  }
}

.mobileMenuWrapper {
  height: 100vh;
  padding-bottom: $navigation-height + px;
  width: 100%;
  background: get-color('white');
  position: absolute;
  top: $navigation-height + px;
  @include breakpoint(mobile) {
    top: $mobile-navigation-height + px;
    padding-bottom: $mobile-navigation-height + px;

  }
  display: none;
  flex-direction: column;

  @include breakpoint(tablet) {
    display: none;
  }
}

.mobileMenuActive {
  display: flex;
}

.mobileItemsWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  > a {
    color: get-color('black');
    padding: 20px 0;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid get-color('gray-light');
    text-shadow: 0 4px 6px get-color('gray');
    border-left: none;
    border-right: none;
    text-decoration: none;
    &:last-child {
      border-bottom: none;
    }
  }
}

.signUp {
  a {
    border: solid 1px get-color('black');
    padding: 10px 20px;
    text-shadow: none;
  }
}