@import '../../../../assets/scss/color';
@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/text';

.homeAboutWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;

  .headTextTitle {
    color: get-color('black');
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    opacity: 0.8;
  }

  .aboutLeft {
    width: 50%;

    @include breakpoint(mobile) {
      width: 100%;
    }

    .aboutTitleWrapper {
      padding: 0 0 50px 35px;
    }
  }

  .aboutRight {
    width: 50%;

    @include breakpoint(mobile) {
      width: 100%;
    }

    .aboutDescriptionWrapper {
      padding-left: 40px;
    }
  }
}