@import '../../../../assets/scss/color';
@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/text';

.homeAboutWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
  margin-top: 70px;

  .headTextTitle {
    color: get-color('black');
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    opacity: 0.8;
  }

  .aboutLeft {
    width: 48%;

    @include breakpoint(mobile) {
      width: 100%;
    }

    .aboutTitleWrapper {
      padding: 0 0 50px 35px;
    }
  }

  .aboutRight {
    width: 48%;

    @include breakpoint(mobile) {
      width: 100%;
    }

    .aboutDescriptionWrapper {
      display: flex;
      flex-flow: column;
    }

    .aboutImageWrapper {
      background-image: url("~/public/images/side-waves.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      width: 100%;
      background-color: get-color('gray-lighter');
      text-align: center;
      margin: 40px 0;

      img {
        max-width: 553px;
        max-height: 553px;
        width: 100%;
      }
    }
  }
}