@import '../../assets/scss/color';
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/text';

.roadmapHorizontalLineWrapper {
  padding: 100px 0 250px 0;
  overflow-y: scroll;
  white-space: nowrap;
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include breakpoint(desktop) {
    overflow-y: unset;
    white-space: unset;
  }

  .roadmapHorizontalLineScroll {
    width: 1140px;

    @include breakpoint(desktop) {
      width: 95%;
    }
  }

  .headTextTitle {
    color: get-color('black');
    font-style: italic;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    opacity: 0.8;
  }

  .roadmapHorizontalLineTitlesWrapper {
    width: 100%;
    position: relative;

    .roadmapHorizontalLineTitlesBoxQ1 {
      position: absolute;
      top: -70px;
      left: -3%;
      display: flex;
      flex-flow: column;
      width: 150px;

      @include breakpoint(desktop) {
        left: -5%;
      }
    }

    .roadmapHorizontalLineTitlesBoxQ2 {
      position: absolute;
      top: -70px;
      left: 14%;
      display: flex;
      flex-flow: column;
      width: 150px;
    }

    .roadmapHorizontalLineTitlesBoxQ3 {
      position: absolute;
      top: -70px;
      left: 34%;
      display: flex;
      flex-flow: column;
      width: 150px;
    }

    .roadmapHorizontalLineTitlesBoxQ4 {
      position: absolute;
      top: -70px;
      left: 53%;
      display: flex;
      flex-flow: column;
      width: 150px;
    }

    .roadmapHorizontalLineTitlesBoxQ5 {
      position: absolute;
      top: -70px;
      left: 73%;
      display: flex;
      flex-flow: column;
      width: 150px;
    }

    .roadmapHorizontalLineTitlesBoxQ6 {
      position: absolute;
      top: -70px;
      left: 92%;
      display: flex;
      flex-flow: column;
      width: 150px;
    }
  }

  .roadmapHorizontalLineImage {
    padding-left: 25px;
    
    img {
      width: 75px;
      height: 75px;
    }
  }

  .roadmapHorizontalLineMetaWrapper {
    width: 100%;
    position: relative;

    .roadmapHorizontalLineMeta {
      img {
        width: 12px;
        height: 12px;
        padding-right: 10px;
      }

      .defaultText {
        font-size: 12px;
      }
    }

    .roadmapHorizontalLineMetaBoxQ1 {
      text-align: left;
      position: absolute;
      top: 12px;
      left: 3%;
      display: flex;
      flex-flow: column;
      width: 220px;
    }

    .roadmapHorizontalLineMetaBoxQ2 {
      text-align: left;
      position: absolute;
      top: 12px;
      left: 22%;
      display: flex;
      flex-flow: column;
      width: 220px;
    }

    .roadmapHorizontalLineMetaBoxQ3 {
      text-align: left;
      position: absolute;
      top: 12px;
      left: 41%;
      display: flex;
      flex-flow: column;
      width: 220px;
    }

    .roadmapHorizontalLineMetaBoxQ4 {
      text-align: left;
      position: absolute;
      top: 12px;
      left: 60%;
      display: flex;
      flex-flow: column;
      width: 220px;
    }

    .roadmapHorizontalLineMetaBoxQ5 {
      text-align: left;
      position: absolute;
      top: 12px;
      left: 79%;
      display: flex;
      flex-flow: column;
      width: 220px;
    }
  }
}