@import '../../assets/scss/color';
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/text';

.roadmapHorizontalLineWrapper {
  margin-top: 130px;
  margin-bottom: 270px;

  .headTextTitle {
    color: get-color('black');
    font-style: italic;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    opacity: 0.8;
  }

  .roadmapHorizontalLineTitlesWrapper {
    width: 100%;
    position: relative;

    .roadmapHorizontalLineTitlesBoxQ1 {
      position: absolute;
      top: -70px;
      left: -3%;
      display: flex;
      flex-flow: column;
      width: 150px;
    }

    .roadmapHorizontalLineTitlesBoxQ2 {
      position: absolute;
      top: -70px;
      left: 16%;
      display: flex;
      flex-flow: column;
      width: 150px;
    }

    .roadmapHorizontalLineTitlesBoxQ3 {
      position: absolute;
      top: -70px;
      left: 35%;
      display: flex;
      flex-flow: column;
      width: 150px;
    }

    .roadmapHorizontalLineTitlesBoxQ4 {
      position: absolute;
      top: -70px;
      left: 53%;
      display: flex;
      flex-flow: column;
      width: 150px;
    }

    .roadmapHorizontalLineTitlesBoxQ5 {
      position: absolute;
      top: -70px;
      left: 72%;
      display: flex;
      flex-flow: column;
      width: 150px;
    }

    .roadmapHorizontalLineTitlesBoxQ6 {
      position: absolute;
      top: -70px;
      left: 91%;
      display: flex;
      flex-flow: column;
      width: 150px;
    }
  }

  .roadmapHorizontalLineImage {
    padding-left: 25px;
    
    img {
      width: 75px;
      height: 75px;
    }
  }

  .roadmapHorizontalLineMetaWrapper {
    width: 100%;
    position: relative;

    .roadmapHorizontalLineMeta {
      img {
        width: 12px;
        height: 12px;
        padding-right: 20px;
      }

      .defaultText {
        font-size: 12px;
      }
    }

    .roadmapHorizontalLineMetaBoxQ1 {
      text-align: left;
      position: absolute;
      top: 12px;
      left: 3%;
      display: flex;
      flex-flow: column;
      width: 220px;
    }

    .roadmapHorizontalLineMetaBoxQ2 {
      text-align: left;
      position: absolute;
      top: 12px;
      left: 22%;
      display: flex;
      flex-flow: column;
      width: 220px;
    }

    .roadmapHorizontalLineMetaBoxQ3 {
      text-align: left;
      position: absolute;
      top: 12px;
      left: 41%;
      display: flex;
      flex-flow: column;
      width: 220px;
    }

    .roadmapHorizontalLineMetaBoxQ4 {
      text-align: left;
      position: absolute;
      top: 12px;
      left: 60%;
      display: flex;
      flex-flow: column;
      width: 220px;
    }

    .roadmapHorizontalLineMetaBoxQ5 {
      text-align: left;
      position: absolute;
      top: 12px;
      left: 79%;
      display: flex;
      flex-flow: column;
      width: 220px;
    }
  }
}