@import '../../assets/scss/color';
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/text';

.listArticleHalfPage {
  width: 48%;

  @include breakpoint(mobile) {
    width: 100%;
  }
}

.listArticleBox {
  margin-top: 10px;
  width: 100%;

  .listArticleBoxWrapper {
    display: flex;
    gap: 4%;
    flex-wrap: wrap;

    .listArticleBoxImageWrapper {
      height: 250px;
      width: 100%;
      background-color: get-color('gray-lighter');
      text-align: center;

      img {
        height: 100%;
      }
    }
  }
}